@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.nav-selection {
  position: relative;
  z-index: 1;
}
.nav-selection::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -16px;
  right: -16px;
  bottom: 0px;
  background-color: #DADADA;
  border-radius: 10px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-selection:hover::before {
  opacity: 0.2;
}
.nav-selection:hover img {
    filter: brightness(150%);
}

.nav-selection:hover span {
    color: #DADADA;
}


